<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxDialog" name="portaclip2Dialog">
		<title>Portaclip2</title>
		<style>wxDEFAULT_DIALOG_STYLE|wxMINIMIZE_BOX</style>
		<object class="wxBoxSizer" variable="BoxSizer1" member="yes">
			<orient>wxVERTICAL</orient>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer3" member="no">
					<object class="sizeritem">
						<object class="wxPanel" name="ID_PANEL1" variable="m_led" member="yes">
							<size>25,-1</size>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT1" variable="m_prompt" member="yes">
							<label>Send to IP:</label>
						</object>
						<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
					<object class="sizeritem">
						<object class="wxTextCtrl" name="ID_TEXTCTRL1" variable="m_ip_address" member="yes">
							<value>10.0.0.111</value>
							<size>100,-1</size>
						</object>
						<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_BUTTON3" variable="SaveButton" member="yes">
							<label>Save</label>
							<size>60,-1</size>
							<handler function="OnSaveButtonClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxLEFT|wxRIGHT|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
					</object>
				</object>
				<flag>wxLEFT|wxRIGHT|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<object class="sizeritem">
						<object class="wxStaticText" name="ID_STATICTEXT2" variable="m_message" member="yes">
							<label>...</label>
							<size>300,-1</size>
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>9</option>
					</object>
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>1</option>
			</object>
		</object>
		<object class="wxTimer" name="ID_TIMER1" variable="m_timer" member="yes">
			<handler function="OTimerTrigger" entry="EVT_TIMER" />
		</object>
	</object>
</wxsmith>
